@import "tailwindcss";

@plugin 'daisyui' {
  themes: false;
}

@theme {
  --font-heading: var(--font-cormorant);
  --font-primary: var(--font-inter);

  /* Layers */
  --color-background: var(--color-neutral-900);
  --color-surface: var(--color-neutral-800);
  --color-border: var(--color-neutral-700);

  /* Text */
  --color-foreground: var(--color-neutral-100);
  --color-foreground-muted: var(--color-neutral-300);

  /* Brand */
  --color-accent-light: #e87b83;
  --color-accent-lighter: #f0b1b2;
  --color-accent: #d8565f;
  --color-accent-dark: #a53d44;
  --color-accent-darker: #a42c3d;

  --breakpoint-3xl: 110rem;
}


html {
  /* scroll-padding-top: 5rem; */
  scroll-behavior: smooth;
  /* first color for thumb, second color for track */
  scrollbar-color: var(--color-accent-dark) var(--color-background);
  scrollbar-width: thin;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

button,
a {
  cursor: pointer;
}

@layer base {
  body {
    @apply text-foreground;
  }
}