@import "tailwindcss";

@plugin 'daisyui' {
  themes: false;
}

@theme {
  /* Fonts */
  --font-heading: var(--font-cormorant);
  --font-primary: var(--font-inter);
  --font-japanese: var(--font-notoSans);

  /* Layers */
  --color-background: var(--color-neutral-900);
  --color-surface: var(--color-neutral-800);
  --color-border: var(--color-neutral-700);

  /* Text */
  --color-foreground: var(--color-neutral-100);
  --color-foreground-muted: var(--color-neutral-300);

  /* Brand */
  --color-accent-light: #e87b83;
  --color-accent-lighter: #f0b1b2;
  --color-accent: #d8565f;
  --color-accent-dark: #a53d44;
  --color-accent-darker: #8a2738;

  /* Responsive breakpoints */
  --breakpoint-3xl: 110rem;

  /* Animations */
  --animate-marquee: marquee 15s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  body {
    @apply text-foreground;
  }
}

html {
  /* scroll-behaviour: smooth can conflict with snap scrolling, so set to auto */
  overflow-y: scroll;
  scroll-behavior: auto;
  /* scrollbar-color: var(--color-surface) var(--color-background); */
  scrollbar-width: thin;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

button,
a {
  cursor: pointer;
}