@import "tailwindcss";

@plugin 'daisyui' {
  themes: false;
}

@theme {
  --font-heading: var(--font-cormorant);
  --font-primary: var(--font-inter);

  /* Backgrounds */
  --color-background: #222222;
  --color-surface: #333333;
  /* cards / panels */
  --color-border: #444444;
  /* separators */

  /* Text */
  --color-foreground: #f5f5f3;
  --color-foreground-muted: #c8c8c5;

  /* Accent */
  --color-accent: #d8565f;
  --color-accent-light: #e87b83;
  --color-accent-dark: #a53d44;

  --breakpoint-3xl: 110rem;
}


html {
  /* scroll-padding-top: 5rem; */
  scroll-behavior: smooth;
  /* first color for thumb, second color for track */
  scrollbar-color: var(--color-accent-dark) var(--color-background);
  scrollbar-width: thin;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

button,
a {
  cursor: pointer;
}

@layer base {
  body {
    @apply text-foreground;
  }
}